<template>
  <div class="container">
    <Preloader v-if="loading" />
    <Configurator
      v-if="modals.configurator"
      :fields="configurator"
      @configure-table="configureHalder"
    />
    <div class="content" v-if="data">
      <button class="btn btn-primary" @click="openCreatorHandler">
        Создать новую строку
      </button>
      <Table
        v-if="data"
        :data="data"
        :cols="table.cols"
        :perPage="table.perPage"
        @return-item="openItemModalHandler"
      />
      <Card
        v-if="modals.card"
        :fields="card.item"
        @close-card="closeCardHandler"
      />
      <CreatorRow
        v-if="modals.creatorRow"
        :fields="creatorRow"
        @close-creator="closeCreatorHandler"
        @create-row="createRowHandler"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

const Card = () => import("@/components/Card");
const Table = () => import("@/components/table/Table");
const CreatorRow = () => import("@/components/CreatorRow");
const Configurator = () => import("@/components/Configurator");
const Preloader = () => import("@/components/Preloader");

export default {
  name: "Home",
  components: {
    Card,
    Table,
    CreatorRow,
    Configurator,
    Preloader,
  },
  data() {
    return {
      loading: false,
      modals: {
        configurator: true,
        creatorRow: false,
        card: false,
      },
      configurator: {
        rows: {
          title: "Количество строк",
          value: 32,
        },
        perPage: {
          title: "Количество строк на странице",
          value: 50,
        },
      },
      creatorRow: {
        id: {
          value: null,
          type: "number",
        },
        firstName: {
          value: null,
          type: "text",
        },
        lastName: {
          value: null,
          type: "text",
        },
        email: {
          value: null,
          type: "email",
        },
        phone: {
          value: null,
          type: "text",
        },
      },
      table: {
        cols: ["id", "firstName", "lastName", "email", "phone"],
        perPage: 50,
        rows: 32,
      },
      card: {
        item: null,
      },
    };
  },
  computed: {
    ...mapGetters({
      data: "table/getData",
    }),
  },
  methods: {
    ...mapActions({
      loadData: "table/loadData",
      createRow: "table/createRow",
    }),
    configureHalder: function () {
      this.loading = true;
      this.table.rows = this.configurator.rows.value;
      this.table.perPage = this.configurator.perPage.value;
      this.loadData({ size: this.table.rows });
      this.modals.configurator = false;
    },
    openItemModalHandler: function (row) {
      this.card.item = row;
      this.modals.card = true;
    },
    closeCardHandler: function () {
      this.modals.card = false;
    },
    openCreatorHandler: function () {
      this.modals.creatorRow = true;
    },
    closeCreatorHandler: function () {
      this.modals.creatorRow = false;
    },
    createRowHandler: function () {
      this.createRow({ item: this.creatorRow });
    },
  },
  watch: {
    data: function () {
      this.loading = false;
    },
  },
};
</script>
