<template>
  <div class="modal-component">
    <div class="modal">
      <div class="modal-header">
        <slot name="header"></slot>
      </div>
      <div class="modal-body">
        <slot name="body"></slot>
      </div>
      <div class="modal-footer">
        <slot name="footer"></slot>
        <div v-if="closeButton" class="btn btn-light" @click="close">
          Закрыть
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    closeButton: {
      type: Boolean,
      require: false,
      default: true,
    },
  },
  methods: {
    close() {
      this.$emit("close-modal");
    },
  },
};
</script>
