<template>
  <Modal @close-modal="closeModal">
    <template v-slot:header>
      Выбранный пользователь <b> {{ name }} </b>
    </template>
    <template v-slot:body>
      <div class="item">
        <div class="title">Описание:</div>
        <textarea rows="4" v-model="fields.description" />
      </div>
      <div class="item">
        <div class="title">Адресс проживания:</div>
        <div class="value">
          <b> {{ fields.address.streetAddress }} </b>
        </div>
      </div>
      <div class="item">
        <div class="title">Провинция/штат:</div>
        <div class="value">
          <b> {{ fields.address.state }} </b>
        </div>
      </div>
      <div class="item">
        <div class="title">Индекс:</div>
        <div class="value">
          <b> {{ fields.address.zip }} </b>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
const Modal = () => import("@/components/modal/Modal");

export default {
  name: "Card",
  components: {
    Modal,
  },
  props: {
    fields: {
      type: Object,
      require: true,
    },
  },
  computed: {
    name() {
      return this.fields.firstName + " " + this.fields.lastName;
    },
  },
  methods: {
    closeModal() {
      this.$emit("close-card");
    },
  },
};
</script>
