<template>
  <Modal :closeButton="false">
    <template v-slot:header> {{ title }} </template>
    <template v-slot:body>
      <div class="item" v-for="(item, index) in fields" :key="index">
        <div class="title">{{ item.title }}</div>
        <input type="number" v-model.number="item.value" />
      </div>
    </template>
    <template v-slot:footer>
      <button class="btn btn-primary" @click="configureHanlder">
        {{ button }}
      </button>
    </template>
  </Modal>
</template>

<script>
const Modal = () => import("@/components/modal/Modal");

export default {
  name: "TableСonfigurator",
  components: {
    Modal,
  },
  props: {
    fields: {
      type: Object,
      require: true,
    },
  },
  data() {
    return {
      title: "Настройка загрузки данных",
      button: "Загрузить данные",
    };
  },
  methods: {
    configureHanlder: function () {
      this.$emit("configure-table");
    },
  },
};
</script>
