<template>
  <Modal @close-modal="closeCreatorHadnler">
    <template v-slot:header> {{ title }} </template>
    <template v-slot:body>
      <div class="item" v-for="(item, index) in fields" :key="index">
        <div class="title">{{ index }}</div>
        <input :type="item.type" v-model="item.value" />
      </div>
    </template>
    <template v-slot:footer>
      <button class="btn btn-primary" @click="createRowHandler">
        {{ button }}
      </button>
    </template>
  </Modal>
</template>

<script>
const Modal = () => import("@/components/modal/Modal");

export default {
  name: "CreatorRow",
  components: {
    Modal,
  },
  props: {
    fields: {
      type: Object,
      require: true,
    },
  },
  data() {
    return {
      title: "Добавить новую строку",
      button: "Добавить",
    };
  },
  methods: {
    createRowHandler: function () {
      this.$emit("create-row");
      this.$emit("close-creator");
    },
    closeCreatorHadnler: function () {
      this.$emit("close-creator");
    },
  },
};
</script>
