<template>
  <div id="page-preloader" class="preloader">
    <div class="loader">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</template>

<style lang="sass">
.preloader
  position: fixed

  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  z-index: 100

  left: 0
  top: 0

  height: 100%
  width: 100%

  background: rgb(255, 255, 255)

  visibility: visible
  opacity: 1

  transition: .5s

  &.done
    opacity: 0
    visibility: hidden

  & .loader
    display: inline-block
    position: relative
    width: 80px
    height: 80px

  & .loader div
    position: absolute
    top: 33px
    width: 10px
    height: 10px
    border-radius: 50%
    background: rgb(50, 50, 50)
    animation-timing-function: cubic-bezier(0, 1, 1, 0)

  & .loader div:nth-child(1)
    left: 8px
    animation: loader-item-1 0.6s infinite

  & .loader div:nth-child(2)
    left: 8px
    animation: loader-item-2 0.6s infinite

  & .loader div:nth-child(3)
    left: 32px
    animation: loader-item-2 0.6s infinite

  & .loader div:nth-child(4)
    left: 56px
    animation: loader-item-3 0.6s infinite

@keyframes loader-item-1
  0%
    transform: scale(0)

  100%
    transform: scale(1)

@keyframes loader-item-2
  0%
    transform: translate(0, 0)

  100%
    transform: translate(24px, 0)

@keyframes loader-item-3
  0%
    transform: scale(1)

  100%
    transform: scale(0)
</style>
