<template>
  <div class="table-pagination">
    <div
      :class="{ active: item === page }"
      @click="handler(item)"
      v-for="item in pages"
      :key="item"
    >
      {{ item }}
    </div>
  </div>
</template>

<script>
export default {
  name: "TablePagination",
  props: {
    pages: {
      type: Number,
      require: true,
    },
    page: {
      type: Number,
      require: true,
    },
  },
  methods: {
    handler(value) {
      this.$emit("updated-pagination", value);
    },
  },
};
</script>
