<template>
  <div class="table-search">
    <input
      @keyup="handler"
      :placeholder="placeholder"
      v-model="value"
      type="text"
    />
  </div>
</template>

<script>
export default {
  name: "TableSearch",
  data() {
    return {
      placeholder: "Поиск...",
      value: null,
    };
  },
  methods: {
    handler() {
      this.$emit("update-search", this.value);
    },
  },
};
</script>
