<template>
  <div class="table-component">
    <Search @update-search="searchHandler" />
    <div class="table">
      <table>
        <thead>
          <tr>
            <th
              @click="sortByColHandler(item)"
              v-for="(item, index) in cols"
              :key="index"
            >
              <div
                :class="{
                  asc: sorting.col == item && sorting.cending == 'asc',
                  desc: sorting.col == item && sorting.cending == 'desc',
                }"
              >
                <span> {{ item }} </span>
                <SortIcon />
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(row, index) in rows" :key="index">
            <td
              @click="rowHandler(row)"
              v-for="item in filterRow(row)"
              :key="item.id"
            >
              {{ item }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <Pagination
      :pages="pages"
      :page="page"
      @updated-pagination="paginationHandler"
    />
  </div>
</template>

<script>
const Search = () => import("@/components/table/Search");
const SortIcon = () => import("@/components/table/SortIcon");
const Pagination = () => import("@/components/table/Pagination");

export default {
  name: "Table",
  components: {
    Search,
    SortIcon,
    Pagination,
  },
  props: {
    data: {
      type: Array,
      require: true,
    },
    cols: {
      type: Array,
      required: true,
    },
    perPage: {
      type: Number,
      require: false,
      default: 50,
      validator: function (value) {
        return value > 0 && value <= 50;
      },
    },
  },
  data() {
    return {
      content: this.data,
      page: 1,
      sorting: {
        cending: "asc",
        hand: null,
        col: null,
      },
    };
  },
  computed: {
    pages() {
      return Math.ceil(this.content.length / this.perPage);
    },
    rows() {
      let from = (this.page - 1) * this.perPage;
      let to = from + this.perPage;
      return this.content.slice(from, to);
    },
  },
  methods: {
    searchHandler: function (str) {
      this.content = this.data.filter((item) =>
        Object.values(this.filterRow(item))
          .map(String)
          .some((value) => value.includes(str))
      );
      if (this.sorting.col) this.sortTable();
    },
    sortTable: function () {
      const col = this.sorting.col;
      const hand = this.sorting.hand;

      this.content = this.content.sort((a, b) => {
        switch (typeof a[col]) {
          case "string":
            return a[col].toLowerCase() > b[col].toLowerCase() ? hand : -hand;
          case "number":
            return a[col] > b[col] ? hand : -hand;
          case "Date":
            return a[col] - b[col];
        }
      });
    },
    sortByColHandler: function (col) {
      const currentCending = this.sorting.cending === "asc" ? "desc" : "asc";
      this.sorting.cending = this.sorting.col === col ? currentCending : "asc";
      this.sorting.hand = this.sorting.cending === "asc" ? 1 : -1;
      this.sorting.col = col;
      this.sortTable();
    },
    paginationHandler: function (page) {
      this.page = page;
    },
    rowHandler: function (row) {
      this.$emit("return-item", row);
    },
    filterRow: function (row) {
      return this.cols.reduce((a, key) => ((a[key] = row[key]), a), {});
    },
  },
  watch: {
    data: function () {
      this.content = this.data;
    },
  },
};
</script>
