@import "fonts"

/* 1. variables */

$accent: rgb(50, 50, 50)
$light-accent: rgb(75, 75, 75)
$dark-accent: rgb(35, 35, 35)

$border-color: rgb(221, 221, 221)
$border-color-hover: rgb(201, 201, 201)

/* 2. main */

body
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0

p
  font-size: 16px

b
  font-weight: 500

.container
  position: relative
  box-sizing: border-box
  margin: 70px 160px

/* 3. elements */
/* 3.1 buttons */

.btn
  font-size: 16px
  white-space: nowrap
  padding: 15px
  transition: .2s
  border-radius: 5px
  cursor: pointer
  border: none

.btn-primary
  background: $accent
  color: rgb(255, 255, 255)

  &:hover
    background: $dark-accent

.btn-light
  background: rgb(250, 250, 250)
  border: 1px solid $border-color
  color: $accent

  &:hover
    background: rgb(235, 235, 235)

button
  &:disabled
    cursor: default
    color: rgba(255, 255, 255, .75)
    background: rgba($color: $accent, $alpha: 0.5)
    &:hover
      cursor: default
      color: rgba(255, 255, 255, .75)
      background: rgba($color: $accent, $alpha: 0.5)

/* 3.2 input */

input
  padding: 15px
  font-size: 16px
  border: 1px solid $border-color
  border-radius: 5px
  box-sizing: border-box

  &:focus
    outline: none
    border-color: $border-color-hover

  &:focus-visible
    outline: none
    border-color: $border-color-hover

/* 3.3 textarea */ 

textarea
  font-family: 'Roboto', sans-serif
  border: 1px solid $border-color
  box-sizing: border-box
  border-radius: 5px
  font-size: 16px
  height: 150px
  padding: 15px

  &:focus
    outline: none
    border-color: $border-color-hover

  &:focus-visible
    outline: none
    border-color: $border-color-hover

/* 4. components */ 

/* 4.1 table */

.table-component

  table
    border-collapse: collapse
    table-layout: fixed
    width: 100%
    padding: 0
    margin: 0

    thead
      background: $accent

      th
        padding: 25px 30px
        border: 1px solid $light-accent
        color: rgba(255, 255, 255, 0.8)
        transition: .2s
        cursor: pointer

        &:hover
          color: rgba(255, 255, 255, 1)

          > div > svg > path
            fill: rgba(255, 255, 255, 0.75)

        > div
          display: flex
          justify-content: space-between
          width: 100%

          > span
            font-weight: 300

          > svg
            height: 12px
            width: 12px

            > path
              transition: .2s
              fill: rgba(255, 255, 255, 0.35)

        > .asc
          > svg
            > path
              &:first-of-type
                fill: rgba(255, 255, 255, 1)

        > .desc
          > svg
            > path
              &:last-of-type
                fill: rgba(255, 255, 255, 1)

    tbody
      tr
        background-color: rgb(250, 250, 250)
        border: 1px solid $border-color
        border-width: 0px 0px 1px 0px
        transition: .2s
        cursor: pointer

        &:hover
          background-color: rgb(235, 235, 235)

      td
        padding: 20px 30px
        border: 1px solid $border-color

  .table-search
    > input
      width: 100%
      margin-bottom: 30px

  .table-pagination
    display: flex
    flex-wrap: wrap
    gap: 10px
    justify-content: center
    margin: 30px 0rem
    width: 100%

    > div
      display: flex
      justify-content: center
      align-items: center
      height: 40px
      width: 40px
      border: 1px solid $border-color
      border-radius: 5px
      cursor: pointer
      transition: .2s

      &:hover
        background: rgb(250, 250, 250)

    .active
      background: $accent
      color: rgb(255, 255, 255)

      &:hover
        background: $dark-accent

/* 4.2 modal */

.modal-component
  background: rgba(0, 0, 0, 0.1)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%

  display: flex
  justify-content: center
  align-items: center

  .modal
    display: flex
    flex-direction: column
    gap: 35px
    width: 50rem
    padding: 35px
    border-radius: 5px
    background: rgb(255, 255, 255)

    .modal-header
      font-size: 22px
      font-weight: 400

    .modal-body
      display: flex
      flex-direction: column
      gap: 15px

    .modal-footer
      display: flex
      gap: 15px

    .item
      display: flex
      flex-direction: column
      gap: 10px

      input
        width: 100%

      .title
        color: rgba($color: $accent, $alpha: 0.75)

      .value
        width: 100%

/* 4.3 preloader */

/* 5. pages */
/* 5.1 home */

.content
  position: relative

  > button
    margin: 2rem 0
    width: 100%